ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 45px;
    text-decoration: none;  
}

li a:hover {
    background-color: #111;
}
.nav{
     background-color: #333;
     width: 100%;
     height: 100%;
     padding : 20px;
     margin: 0px;
     margin-left: 0px;     
     padding-left: 8.333%;
     background: #333;
}
.banner{
    width: 33%;
    padding :15px 0px;
    margin :0px;
      
}   
.bannerult{
    width: 100%;
    padding :15px 0px;
    margin :0px;
      
}  


.leftbar{
    background-color: #A6C9DF;
    
}
.rightbar{
    background-color: #A6C9DF;
    
}
.midbar{
    margin-bottom : 0px;
    padding-bottom: 0px;
    padding-left : 0px;
    margin-left: 0px;
    padding-right : 0px;
    margin-right: 0px;
    background-color: #c8f4d3;  
}
.table{
    padding : 16px;
}
.logo{
    width: 75%;
    height : 175px;
    margin-left : 10%;
    margin-top : 25px;
}
.logoHome{
    width: 175px;
    height : 175px;
    margin-left : 38%;
    margin-top : 50px;
}
.img{
    padding :0px;
    margin : 0px;
}
.footer{
    margin : 0px;
    width : 100%;
    text-align: center;
    background-color: white;
}
.groepsfoto{
    width: 100%;
    height: 50%;
    margin: 50px;
    
}
.containercontext{
    background-color: #c8f4d3;
    padding : 25px;

}
.rightfloat{
    float: right;
}
.div0 {
    padding : 0px;
    margin: 0px;
    
}