<div class="container">
  <h1>Add New Player</h1>
  <div class="row">
    <div class="col-md-6">
      <form (ngSubmit)="savePlayer()" #playerForm="ngForm">
        <div class="form-group">
          <label for="name">Rugnummer</label>
          <input type="text" class="form-control" [(ngModel)]="player.id" name="id" required>
        </div>
        <div class="form-group">
          <label for="name">Naam</label>
          <input type="text" class="form-control" [(ngModel)]="player.naam" name="title" required>
        </div>
        <div class="form-group">
          <label for="name">Bijnaam</label>
          <input type="text" class="form-control" [(ngModel)]="player.bijnaam" name="bijnaam">
        </div>
        <div class="form-group">
          <label for="name">Goals</label>
          <input type="text" class="form-control" [(ngModel)]="player.goals" name="goals" required>
        </div>
        <div class="form-group">
          <label for="name">Assisten</label>
          <input type="number" class="form-control" [(ngModel)]="player.assists" name="published_year" required>
        </div>
        <div class="form-group">
          <label for="name">Rating</label>
         <form class="stars">
           <ul>
            <li><label for="rating_1"><i class="fas fa-star"></i></label><input type="radio" [(ngModel)]="player.rating" id="rating_1" name="rating" value=1> </li>
           <li><label for="rating_2"><i class="fas fa-star"></i></label> <input type="radio" [(ngModel)]="player.rating"  id="rating_2" name="rating" value=2> </li>
            <li><label for="rating_3"><i class="fas fa-star"></i></label> <input type="radio" [(ngModel)]="player.rating"  id="rating_3" name="rating" value=3> </li>
             <li><label for="rating_4"><i class="fas fa-star"></i></label> <input type="radio" [(ngModel)]="player.rating"  id="rating_4" name="rating" value=4> </li>
             <li><label for="rating_5"><i class="fas fa-star"></i></label> <input type="radio" [(ngModel)]="player.rating"  id="rating_5" name="rating" value=5>  </li>    
           </ul>  
         </form>
        </div>
        <div class="form-group">
          <label for="name">Ingeschreven jaar</label>
          <input type="text" class="form-control" [(ngModel)]="player.ingeschreven_jaar" name="publisher" >
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-success" [disabled]="!playerForm.form.valid">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>