

        <div class="col-md-5" style="margin-left : 50px" >
        
            <br>
            <h1>Sparta Bevere </h1>
            <br>
                <p>
                    Hier praat ik wat verder over Sparta Bever.
                    <br> 
                    Voor deze site is het de bedoeling dat de spelers en supporters een database van de spelers kunnen zien en hun favoriete speler beoordelen !
                </p>
        </div>
        <div class="col-md-6">
            <img src="././assets/img/spbevere.png" class="logoHome">
        </div>  
        <img src="././assets/img/ploegfoto.jpg" class="groepsfoto">



