<form  (submit)="register()" #regForm="ngForm" name="regForm">
  <h1>Register</h1>
  <div class="form-group" [class.has-succes]="nameVar.valid" [class.has-error]="nameVar.invalid && nameVar.touched"  >
    
    <label for="name"  class="control-label">Volledige naam :</label>
    <input type="text" class="form-control" name="name" placeholder="Enter your name" [(ngModel)]="credentials.name"
     #nameVar="ngModel" required minlength="5">

    <span class="help-block" *ngIf="nameVar.invalid  && nameVar.touched" >Naam is niet lang genoeg (min 5 tekens)</span>
  </div>

<div class="form-group" [class.has-succes]="emailVar.valid" [class.has-error]="emailVar.invalid && emailVar.touched">
    
    <label for="email" class="control-label">Email address</label>
    <input required  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" type="email" class="form-control" 
    name="email" placeholder="Enter email" [(ngModel)]="credentials.email" #emailVar="ngModel" >
    <span class="help-block" *ngIf="emailVar.invalid  && emailVar.touched" >Email is niet correct</span>
  </div>
 

  <div class="form-group"  [class.has-succes]="passVar.valid" [class.has-error]="passVar.invalid && passVar.touched">
    <label for="password"  class="control-label">Wachtwoord (Hoofletter, kleine letter en cijfer , min 8 tekens) :</label>

    <input type="password" class="form-control" pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" 
    name="password" placeholder="Password" [(ngModel)]="credentials.password" #passVar="ngModel" required>

   <span class="help-block" *ngIf="passVar.invalid  && passVar.touched" >Wachtwoord is te zwak</span>
  </div>

  <button [disabled]="regForm.invalid" type="submit" class="btn btn-default" >Register!</button>
</form>