<!--<img src="./assets/img/banner.jpg" alt="banner" class="banner img">-->
<img src="./assets/img/soccerbanner.jpg" alt="banner" class="bannerult img">
<!--<img src="./assets/img/banner.jpg" alt="banner" class="banner img">-->
   <!-- <nav class="nav">  
  <ul class="navbar-nav ml-auto">    
    
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="/home">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="/players">Spelers</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="/wedstrijden">Wedstrijden</a>
    </li>
    <li *ngIf="!auth.isLoggedIn()" class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="/login">Login</a>
    </li>
     <li *ngIf="auth.isLoggedIn()" class="nav-item" >
       <a  class="nav-link" routerLinkActive="active" routerLink="/profile">{{ auth.getUserDetails()?.name }}</a>
    </li>    
    <li class="nav-item">
      <a class="nav-link " routerLinkActive="active" routerLink="/register">Register</a>
    </li>
    <li *ngIf="auth.isLoggedIn()" class="nav-item">
      <a  class="nav-link " routerLinkActive="active" (click)="auth.logout()">Logout</a>
    </li>
  </ul>
</nav>
 -->
<ul class="nav navbar-nav navbar-right">
  <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="/home">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="/players">Spelers</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="/wedstrijden">Wedstrijden</a>
    </li>
  <li *ngIf="!auth.isLoggedIn()"><a routerLink="/login">Sign in</a></li>
    <li *ngIf="!auth.isLoggedIn()"><a routerLink="/register">Register</a></li>
  <li *ngIf="auth.isLoggedIn()"><a routerLink="/profile">{{ auth.getUserDetails()?.name }}</a></li>
  <li *ngIf="auth.isLoggedIn()"><a (click)="auth.logout()">Logout</a></li>
</ul>
