<!--<img src="./assets/img/banner.jpg" alt="banner" class="banner">-->
    <nav class="nav">  
  <ul class="navbar-nav ml-auto">    
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="/home">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="/players">Spelers</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="/wedstrijden">Wedstrijden</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="/login">Login</a>
    </li>
    <li class="nav-item">
      <a class="nav-link " routerLinkActive="active" routerLink="/register">Register</a>
    </li>
  </ul>
</nav>
 