<div class="container">  
  <h1>Player List</h1>
  <table id="myTable2" class="table" style="width : 75%">
    <thead>
      <tr>        
        <th onclick="sortTable(0)" width="20%">Naam</th>
        <th onclick="sortTable(1)" width="20%">Bijnaam</th>
        <th onclick="sortTable(2)" width="10%">Assists</th>
        <th onclick="sortTable(3)" width="10%">Goals</th>
        <th onclick="sortTable(4)" width="10%">Rating</th>
        <th class="rightfloat" width="20%">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let player of players">        
        <td >{{ player.naam }}</td>
        <td >{{ player.bijnaam }}</td>
        <td >{{ player.assists }}</td>
        <td >{{ player.goals }}</td>
        <td >{{ player.rating }}</td>
        <td class="rightfloat">          
            <a *ngIf="auth.isAdmin()" [routerLink]="['/player-detail', player._id]" class="btn btn-success">Details</a> 
            <a  [routerLink]="['/rate-user', player._id]" class="btn btn-success">Rate</a> 
          
      </tr>
    </tbody>
  </table>
   <a *ngIf="auth.isAdmin()" [routerLink]="['/player-create']" class="btn btn-default btn-lg ">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
  </a>

  <!--*ngIf="auth.isAdmin()"-->
  
</div>
