<div class="container">  
  <h1>Player List</h1>
  <table class="table">
    <thead>
      <tr>
        <th width="15px">Rugnummer</th>
        <th>Naam</th>
        <th>Bijnaam</th>
        <th>Assists</th>
        <th>Goals</th>
        <th width="15px">Gemiddelde rating</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let player of players">
        <td>{{player.id}}</td>
        <td>{{ player.naam }}</td>
        <td>{{ player.bijnaam }}</td>
        <td>{{ player.assists }}</td>
        <td>{{ player.goals }}</td>
        <td>{{ player.rating }}</td>
        <td><a [routerLink]="['/player-detail', player._id]" class="btn btn-success">Details</a>    
      </tr>
    </tbody>
  </table>
  <a [routerLink]="['/player-create']" class="btn btn-default btn-lg">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
  </a>
</div>